:root {
    --primary-text-color: #212121;
    --acent-color: #2196F3;
    --secondary-text-color: #757575;
    --white-color: #FFFFFF;
    --background-color: #2F303A;
    --logo-black-color: #000000;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --nav-button-bg-color: #F5F4FA;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* Но в домашке так делать не разрешается*/
img {
    display: block;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



.body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

/*Сброс стилей для ссылок*/
.link,
.link-logo {
    text-decoration: none;
}

/*Сброс стилей для списков*/
.list {
    list-style: none;
}

/*======================COMPONENTS==========================*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;

}

.features-list-title,
.team-list-title {
    margin-bottom: 10px;
}

/*Логотип*/
.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--acent-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}




/*======================/COMPONENTS==========================*/


/*Часть логотипа оборачиваем в span, чтобы поменять цвет части логотипа*/
.logo-color {
    color: var(--logo-black-color);

}

.adress {
    font-style: normal;
}

/*======================HEADER========================*/
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;

}

.page-nav {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    align-items: center;
}

.list-contacts {
    display: flex;
    align-items: center;


}

.page-nav .link-logo {
    margin-right: 93px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link,
.link-mail,
.link-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;


}

.link-mail,
.link-tel {
    color: var(--secondary-text-color);

}

.link-mail {
    margin-right: 50px;
}

.page-header-container .link:hover,
.page-header-container .link:focus {
    color: var(--acent-color)
}

.active {
    color: var(--acent-color);
}



/*========================HERO============================*/
.hero-section {
    background-color: var(--background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 40px;

}

.modal-btn {
    display: block;
    margin: 0px auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    min-height: 50px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}


/*========================/HERO============================*/


/*=========Особенности(features)=========*/
.features {
    padding-top: 52px;
    padding-bottom: 0px;
    /*получается, что внутрений отступ секции больше, чем на макете
    но я пока не знаю, как сделать подругому,
    как вариант размер заголовка 42 пикселя 
    +52 пикселя=94 пикселя, знаю, что это костыль
    потом переделаю*/
}

/*скрываем заголовок */
.features-title {
    visibility: hidden;
    margin-bottom: 0px;

}

.features-list {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    gap: 30px;


}

.features-list-item {
    /* width: 270px;*/
    width: calc((100% - 90px)/4);
}

/*.features-list-item:not(:last-child) {
    margin-right: 30px;
}*/

.features-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;


}

.features-list-text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    color: var(--secondary-text-color);
}

/*=========/Особенности(features)=========*/
/*=========Чем мы занимаемся=========*/
.work-list {
    display: flex;
    /* как вариант можно использовать justify-content: space-between;*/
    gap: 30px;
    flex-wrap: wrap;

}

/*=========/Чем мы занимаемся=========*/
/*=========Наша команда(Team)=========*/
.team-section {
    background-color: #E5E5E5;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /*перенос элементов, если 
    еще будут добавляться карточки с работниками*/
    column-gap: 30px;

}



.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;



}

.team-list-item {
    background: #FFFFFF;
    width: calc((100% - 90px)/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* Надо задавать ширину флекс елементам,
    calc((100% - кол-во_зазоров_в_строке * значение_одного_зазора) 
    / кол-во_элементов_в_строке)*/

}


.team-list-text {

    font-size: 16px;
    line-height: 1.91;
    text-align: center;
    margin-bottom: 30px;

    color: var(--secondary-text-color);

}

/*=========/Наша команда(Team)=========*/
/*===========Footer=================*/
.footer-section {
    background-color: var(--background-color)
}

.footer-section .logo-color {
    color: var(--white-color);

}

.map,
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);

}

.footer-link {


    color: var(--footer-link-color)
}

.map:focus,
.map:hover {
    color: var(--acent-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--acent-color);

}

/*===========/Footer=================*/


/*=====================================Portfolio============================================*/
/*Заголовок будет скрыт, поэтому применил параметры с Н1 главной страницы*/
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--logo-black-color)
}

.nav-btn {
    /*========================Кнопки навигации по портфолио========================*/
    /*Странно, но почему-то кнопка не наследует свойства*/


    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    color: var(--primary-text-color);

}

.nav-btn:focus,
.nav-btn:hover {
    color: var(--white-color);
    background: var(--acent-color);
}

/*=========================Выполненные проекты=========================*/
.portfolio-list-title {


    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list-text {

    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
}


/*===========/Portfolio=================*/